flow.json
[{"id":"75963448.14651c","type":"tab","label":"test","disabled":false,"info":""},{"id":"1290145b.184a8c","type":"tab","label":"Rabbit NATO","disabled":false,"info":""},{"id":"7d947e1.535d68","type":"tab","label":"play and record","disabled":false,"info":""},{"id":"6b1dfb5d.847f3c","type":"tab","label":"cronjob","disabled":true,"info":""},{"id":"b010ce9e.220208","type":"inject","z":"75963448.14651c","name":"","topic":"","payload":"hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["af79db3c.189f6"]]},{"id":"af79db3c.189f6","type":"debug","z":"75963448.14651c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":140,"wires":[]},{"id":"d6c3d16b.a7f44","type":"inject","z":"1290145b.184a8c","name":"","topic":"bear","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":103.5,"y":39,"wires":[["eee9d68c.f30f18"]]},{"id":"edcbe569.8cd4c8","type":"debug","z":"1290145b.184a8c","name":"","active":true,"console":"false","complete":"payload","x":330,"y":180,"wires":[]},{"id":"eee9d68c.f30f18","type":"http request","z":"1290145b.184a8c","name":"","method":"GET","ret":"txt","url":"https://gist.githubusercontent.com/zekesonxx/8fa351cf7cec21fe7c43/raw/0d9a416c3f1ceeef4859293e166f9fdab65c64ca/nato.json","tls":"","x":310,"y":40,"wires":[["1544c215.aac01e"]]},{"id":"1544c215.aac01e","type":"json","z":"1290145b.184a8c","name":"","pretty":false,"x":490,"y":40,"wires":[["c71e6ac0.505c08"]]},{"id":"c71e6ac0.505c08","type":"function","z":"1290145b.184a8c","name":"","func":"var oldpayload = msg.payload;\nvar oldtopic = msg.topic;\nvar result = \"\";\n\n\nfor (var i=0; i < oldtopic.length; i++){\n   var character = oldtopic[i].toUpperCase();\n   var natocode = oldpayload[character];\n   result = result + character + \" for \" + natocode + \"\\n\";\n}\n\nvar newmsg = {};\nnewmsg.payload = result;\nnewmsg.topic = oldtopic;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":110,"y":180,"wires":[["edcbe569.8cd4c8"]]},{"id":"f0279289.c0e8c","type":"comment","z":"7d947e1.535d68","name":"need to install modules for this to work","info":"node-red-contrib-play-audio\nnode-red-contrib-mic","x":230,"y":80,"wires":[]},{"id":"4003a3fa.eddcbc","type":"inject","z":"7d947e1.535d68","name":"","topic":"","payload":"the answer is forty two","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["53af8609.d15bf8"]]},{"id":"53af8609.d15bf8","type":"play audio","z":"7d947e1.535d68","name":"","voice":"","x":440,"y":200,"wires":[]},{"id":"11d8a4f.b5e1f5b","type":"Mic","z":"7d947e1.535d68","name":"","outputPayloadType":"stream","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"","rate":"44100","silenceTimeout":0,"exitOnSilence":false,"debug":"true","active":true,"x":260,"y":300,"wires":[["89625cda.80316"]]},{"id":"1f5609c7.c0dbf6","type":"PlaySound","z":"7d947e1.535d68","name":"","playerOptions":"{}","audioURI":"/home/pi/boo.wav","options":"{}","x":410,"y":500,"wires":[[]]},{"id":"37f4f4d6.275bec","type":"inject","z":"7d947e1.535d68","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":300,"wires":[["11d8a4f.b5e1f5b"]]},{"id":"2e69584c.ce4ff8","type":"inject","z":"7d947e1.535d68","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":340,"wires":[["11d8a4f.b5e1f5b"]]},{"id":"de49f1d2.da3b7","type":"inject","z":"7d947e1.535d68","name":"","topic":"","payload":"pause","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":380,"wires":[["11d8a4f.b5e1f5b"]]},{"id":"9ff4737f.9e0c5","type":"inject","z":"7d947e1.535d68","name":"","topic":"","payload":"resume","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":420,"wires":[["11d8a4f.b5e1f5b"]]},{"id":"89625cda.80316","type":"file","z":"7d947e1.535d68","name":"","filename":"/home/pi/boo.wav","appendNewline":false,"createDir":false,"overwriteFile":"false","x":480,"y":320,"wires":[[]]},{"id":"b905cb54.df3f1","type":"file in","z":"7d947e1.535d68","name":"","filename":"/home/pi/boo.wav","format":"","chunk":false,"sendError":false,"x":200,"y":500,"wires":[["1f5609c7.c0dbf6"]]},{"id":"ba572ae5.e99ad8","type":"inject","z":"7d947e1.535d68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":600,"wires":[["b905cb54.df3f1"]]},{"id":"65c8ec76.623084","type":"inject","z":"6b1dfb5d.847f3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["b2176065.d58978"]]},{"id":"b2176065.d58978","type":"debug","z":"6b1dfb5d.847f3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":120,"wires":[]}]